@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@layer utilities {
  html {
    scrollbar-width: 0;
  }

  h1, h2, h3, h4, h5, h6{
    font-family: var(--font-chillax);
  }

  p, span {
    font-family: var(--font-satoshi);
    letter-spacing: 0.03rem;
  }

  ::-webkit-scrollbar {
    width: 0;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* .search-label{
    @apply font-semibold text-base;
  } */

  /* Swiper Scrollbar Styling */
  .swiper-scrollbar {
    background: #e0e0e0; /* Background color of the scrollbar track */
    height: 10px; /* Height of the scrollbar */
    border-radius: 5px; /* Rounded corners */
  }

  .swiper-scrollbar-drag {
    background: #007aff; /* Color of the draggable scrollbar thumb */
    border-radius: 5px; /* Rounded corners */
  }


}

@layer components {
  .overlay {
    @apply absolute w-full h-full inset-0 bg-blend-darken 
  }
}