@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@layer utilities {
  html {
    scrollbar-width: 0;
  }

  body {
    font-family: var(--font-chillax);
  }

  ::-webkit-scrollbar {
    width: 0;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* .search-label{
    @apply font-semibold text-base;
  } */

}